AUTH_SECRET=# Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_GOOGLE_ID=#Get it on https://console.developers.google.com/apis/credentials
AUTH_GOOGLE_SECRET=#Get it on https://console.developers.google
.com/apis/credentials
DATABASE_URL=#postgresql://username:password@localhost:5432/dbname
OPENAI_API_KEY=#Get it on https://platform.openai.com/account/api-keys
NODE_ENV=development
LANGCHAIN_API_KEY=optional_key
LANGCHAIN_TRACING_V2=true
LANGCHAIN_CALLBACKS_BACKGROUND=true